.Chat-wrapper {
  background: linear-gradient(to bottom right, blue, white);
  height: 100%;
}

.Chat-homepage-logo {
  width: 40%;
}

.Chat-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Chat-message-row {
  justify-content: flex-start;
}

.Chat-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Chat-submit-button {
  background: white;
  color: #0b42b2;
  border: none;
  border-radius: 0.3em;
  width: 30%;
  padding: 0.5em;
  margin-top: 10em;
  min-width: 6em;
}

.Chat-username-form {
  margin: 3em 0;
  width: 50%;
}

.Chat-header {
  font-size: 1.5em;
  margin: 3em 0;
}

.Chat-chat-header {
  font-size: 1.5em;
  margin: 0.5em 0;
}

.Chat-input {
  width: 80%;
  padding: 0.5em;
  margin: 1em;
  border-radius: 0.3em;
  border: none;
  outline: none;
}

.Chat-username-label {
  font-weight: bold;
  font-size: 0.8em;
}

.Chat-full-width {
  width: 100%;
}

.Chat-chatnow {
  width: 40%;
  margin-right: 10%;
}

.Chat-message-datetime {
  font-size: 0.5em;
  padding: 0 0.5em
}

.Chat-username {
  font-weight: bold
}

.Chat-username, .Chat-message-body {
  padding: 0.2em;
  font-size: 0.7em;
}

.Chat-messages {
  overflow: auto;
  height: 20em;
  margin: 0.5em 0;
  padding: 1em;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.15);
}

.Chat-app-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
