.chat-wrapper {
  background: linear-gradient(to bottom right, blue, white);
  height: 100%;
}

.homepage-logo {
  width: 40%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.message-row {
  justify-content: flex-start;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-button {
  background: white;
  color: #0b42b2;
  border: none;
  border-radius: 0.3em;
  width: 30%;
  padding: 0.5em;
  margin-top: 10em;
  min-width: 6em;
}

.username-form {
  margin: 3em 0;
  width: 50%;
}

.header {
  font-size: 1.5em;
  margin: 3em 0;
}

.chat-header {
  font-size: 1.5em;
  margin: 0.5em 0;
}

.username-input {
  width: 80%;
  padding: 0.5em;
  margin: 1em;
  border-radius: 0.3em;
  border: none;
}

.username-label {
  font-weight: bold;
  font-size: 0.8em;
}

.full-width {
  width: 100%;
}

.chatnow {
  width: 40%;
  margin-right: 10%;
}

.message-datetime {
  font-size: 0.5em;
  padding: 0 0.5em
}

.username {
  font-weight: bold
}

.username, .message-body {
  padding: 0.2em;
  font-size: 0.7em;
}

.messages {
  overflow: auto;
  height: 20em;
  margin: 0.5em 0;
  padding: 1em;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.15);
}

.chat-app-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
